* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    overflow-x: hidden;
    background: rgb(3,51,94);
    background: linear-gradient(90deg, rgba(3,51,94,1) 0%, rgba(19,109,114,1) 50%, rgba(3,51,94,1) 100%);
}

body{
    overflow-x: hidden;
    width: calc(540px + 25%);
    max-width: 1200px;
    height: 100vh;
    margin: auto;
    color: #222;
}

header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 15px;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 6vh;
    white-space: nowrap;
}

h2 {
    font-family: monospace;
}

p {
    font-family: monospace;
}

i {
    font-size: 20px;
}

button {
    border: solid #222 3px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.4);
    margin: 2px;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

header button {
    width: 100px;
    height: 30px;
}

#display-area {
    height: calc(60vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    text-align: center;
    padding: 2vh 0;
    /* background-color: rgba(255, 255, 255, 0.2); */
}

#display-box {
    background-color: rgba(255, 255, 255, 0.5);
    width: calc(40vh + 16vw);
    margin: .5vh auto .5vh auto;
    flex: 1.5 1 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.display-text {
    flex: 0.875 1 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#text-1,
#text-5 {
    color: rgba(0, 0, 0, 0.3);
}

#text-2,
#text-4 {
    color: rgba(0, 0, 0, 0.5);
}

#controls-area {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px 0;
}

#controls-area p {
    text-align: center;
    padding-top: 5px;
}

#controls-area button {
    width: 60px;
    height: 60px;
}

#controls-area #start-stop {
    width: 10vw;
}

#text-area {
    height: calc(40vh - 50px);
    background-color: rgba(255, 255, 255, 0.2);
}

#text-area textarea {
    width: 100%;
    height: 100%;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.6);
    resize: none;
}

@media all and (max-width: 720px) {

body {
    width: 100%;

}

h1 {
    font-size: calc(4vw + 14px);
}

.title,
.options,
.control p,
.blink,
.last,
.skip {
    display: none;
}

header {
    justify-content: space-around;
}

#display-box {
    max-width: 100%;
}

#controls-area {
    flex-wrap: wrap;
    height: 100px;
    padding: 7px 0;
}

#controls-area button {
    width: 23vw;
    height: 40px;
}

#controls-area #start-stop {
    width: 23vw;
}

#controls-area div {
    order: 4;
}

#controls-area .back {
    order: 1;
}

#controls-area .forwards {
    order: 2;
}

#controls-area .parse {
    order: 3;
}

#text-area {
    height: calc(40vh - 50px);
}


}